<sidebar class="ui visible inverted vertical left sidebar menu"></sidebar>

<div class="ui top fixed inverted menu">
    <a class="item">
        <i class="gamepad icon"></i>
        Games
    </a>
    <a class="item">
        <i class="gamepad icon"></i>
        Games
    </a>
    <a class="item">
        <i class="gamepad icon"></i>
        Games
    </a>
</div>

<div class="pusher">
    <div class="container content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae, consequuntur earum eius exercitationem, illum ipsum iste iusto labore laborum minus natus numquam obcaecati officiis provident repudiandae vel voluptatem.</p>
    </div>
</div>

