<sidebar class="ui visible vertical left sidebar menu"></sidebar>

<top-menu class="ui top fixed inverted borderless menu" style="height: 56px; background: #4285F4;"></top-menu>

<div class="pusher" style="padding-top: 56px;">
    <div class="container content" style="padding: 10px; width: calc(100% - 260px);">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae, consequuntur earum eius exercitationem, illum ipsum iste iusto labore laborum minus natus numquam obcaecati officiis provident repudiandae vel voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae, consequuntur earum eius exercitationem, illum ipsum iste iusto labore laborum minus natus numquam obcaecati officiis provident repudiandae vel voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae, consequuntur earum eius exercitationem, illum ipsum iste iusto labore laborum minus natus numquam obcaecati officiis provident repudiandae vel voluptatem.</p>
    </div>
</div>

